/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug nav.flex {
    background-color: orange;
}

.debug .nav-container {
    background-color: aquamarine;
}

.debug .dashed {
    border: 2px dashed black;
}

.debug .container-banner {
    background-color: blue;
}

.debug .container-banner div {
    background-color: #d43be2;
    height: 300px;
}

.debug .big-box {
    background-color: #1276d4;
}

.debug .small-box {
    background-color: pink;
}

.debug .huge-box {
    background-color: green;
}

.debug main div.container-section-main:nth-child(even) {
    background-color: gray;
}

/* body */


/* header */

.nav-container {
    padding: 10px 0;
}

nav {
    justify-content: space-between;
    margin: 0 auto;
    width: 65%;
}



nav div:last-child {
    text-align: end;
}


.flex {
    display: flex;
}

ul.flex {
    list-style-type: none;
    width: 60%;
    justify-content: center;
}

.flex >div {
    width: 20%;
}

ul.flex li, .flex >div {
    padding: 10px;
}

.container-banner {
    padding: 40px 0;
}

.container-banner div {
    width: 50%;
    margin: 0 auto;
}

/* main */

